
    <link href="~/Assets/Client/css/processing.css" rel="stylesheet" />

    <ul class="progressbar">
        <li class="complete">Đăng nhập</li>
        <li class="complete">Địa chỉ giao hàng </li>
        <li class="active">Thanh toán & Đặt mua</li>
    </ul>

